<%= render partial: 'items/header' %>

<body>
  <div class="mypage-wrapper">
    <div class="mypages-cover">
      <div class="mypages-cover__image"></div>
      <div class="mypages-cover__user">
        <div class="mypages-cover__user__icon"></div>
        <div class="mypages-cover__user__name"> ユーザー名 </div>
        <div class="edit-profile-btn"> EDIT PROFILE </div>
      </div>
    </div>


    <div class="mypage-follow"> 
      <div class="mypage-follow__follow"> フォロー 12 </div>
      <div class="mypage-follow__follower"> フォロワー 20 </div>
    </div>
    
    <h1 class="mypage"> - PROFILE - </h1>
    <div class="mypage-profile"> HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! HELLO! </div>

    <h1 class="mypage"> - COLLECTIONS - </h1>
    <div class="mypage-item-cards">
      <%= render partial: 'mypages/mypage-item-card'%>
      <%= render partial: 'mypages/mypage-item-card'%>
      <%= render partial: 'mypages/mypage-item-card'%>
      <%= render partial: 'mypages/mypage-item-card'%>
    </div>
  </div>
</body>

<%= render partial: 'items/footer' %>