<%= render partial: 'items/header' %>

<body>
  <div class="mypage-wrapper">
    <div class="mypages-cover">
      <div class="mypages-cover__image"></div>
      <div class="mypages-cover__user">
        <div class="mypages-cover__user__icon"></div>
        <div class="mypages-cover__user__name"> <%= @user.nickname %> </div>
        <% if user_signed_in? && @user.id == @currentuser.id %>
          <%= link_to edit_mypage_path(@currentuser) do %>
            <div class="edit-profile-btn"> EDIT PROFILE </div>
            <%= link_to destroy_user_session_path, method: :delete do%>
              <div class="logout-btn"> LOG OUT </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="mypage-follow"> 
      <div class="mypage-follow__follow"> フォロー 12 </div>
      <div class="mypage-follow__follower"> フォロワー 20 </div>
    </div>
    
    <h1 class="mypage"> - PROFILE - </h1>
    <div class="mypage-profile">
      <%= @user.introduction %>
    </div>

    <h1 class="mypage"> - COLLECTIONS - </h1>
    <div class="mypage-item-cards">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do%>
          <%= render partial: 'mypages/mypage-item-card', locals: { item: item } %>
        <% end %>
      <% end %>
    </div>
  </div>
</body>

<%= render partial: 'items/footer' %>