<header>
  <div class="header-container">
    <div class="upper-box">
      <div class="upper-box__title">
        WOTACOLLE
      </div>
      <div class="upper-box__search">
        <form>
          <div class="search-container">
            <input type="search" placeholder="тєЎуюЪсѓњТјбсЂЎ" class="upper-box__search__text"></input>
            <button type="submit" class="upper-box__search__btn"> ­ЪћЇ </button>
          </div>
        </form>
      </div>
    </div>

    <div class="downer-box">
      <div class="downer-box__left">
        <%= link_to root_path do%> 
          <div class="downer-box__left__home"> ­ЪЈасЃЏсЃ╝сЃа </div>
        <% end %>
        <div class="downer-box__left__tag">­ЪЈисѓ┐сѓ░СИђУдД</div>
      </div>
      <% if user_signed_in? %>
        <div class="downer-box__right">
          <i>­ЪћћжђџуЪЦ</i>
          <%= link_to mypage_path(@currentuser) do%> 
            <%= image_tag @currentuser.icon.to_s, class: "downer-box__right__icon" %>
            <div class="downer-box__right__nickname"><%= @currentuser.nickname %></div>
          <% end %>
          <%= link_to "РъЋТіЋуе┐", new_item_path, class: "downer-box__right__new-post-btn" %>
        </div>
      <% else %>
        <div class="downer-box__right">
          <%= link_to "Тќ░УдЈуЎ╗жї▓", new_user_registration_path, class: "sign-box" %>
          /
          <%= link_to "сЃГсѓ░сѓцсЃ│", new_user_session_path, class: "sign-box" %>
        </div>
      <% end %>
    </div>
  </div>
</header>