<div class="item-comment-box__got-comment__each">
  <div class="item-comment-box__got-comment__each__left">
    <div class="item-comment-box__got-comment__each__left__icon">
      <%= image_tag comment.user.icon.to_s, class: "item-comment-box__got-comment__each__left__icon" %>
    </div>
  </div>
  <div class="item-comment-box__got-comment__each__right">
    <%= link_to mypage_path(comment.user) do%>
      <div class="item-comment-box__got-comment__each__right__user-name">
        <%= comment.user.nickname %>
      </div>
    <% end %>
    <div class="item-comment-box__got-comment__each__right__comment"> <%= comment.comment %> </div>
    <div class="item-comment-box__got-comment__each__right__down">
      <div class="item-comment-box__got-comment__each__right__down__date"> <%= comment.created_at %> </div>
      <div class="item-comment-box__got-comment__each__right__down__replay"> 　返信 </div>
    </div>
  </div>
</div>