<%= render partial: 'items/header' %>

<body>
  <div class="item-wrapper">
    <div class="item-image-box">
        <%= image_tag @item.image.to_s, class: "item-image-box__image" %>
    </div>

    <div class="item-user-information">
      <div class="item-user-information__upper">
        <% if @currentuser.icon ==! nil %>
          <%= image_tag @currentuser.icon.to_s, class: "item-user-information__upper__user-icon" %>
        <% else %>
          <div class="item-user-information__upper__user-icon"></div>
        <% end %>
        <div class="item-user-information__upper__user-name"> <%= @item.user.nickname %> </div>
        <div class="item-user-information__upper__favorite"> ♡ 12</div>
      </div>
      <div class="item-user-information__tag-box">
        <div class="tem-user-information__tag-box__tags"> #aaa #bbb #ccc #ddd #eee #fff</div>
      </div>
    </div>

    <div class="item-caption">
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <%= form_for @item, class: "item-edit__form-wrapper" do |f| %>
          <%= f.text_area :caption, class: "edit-caption", placeholder: "キャプションを追加" %>
          <%= f.submit " - UPDATE - ", class: "item-caption__edit-btn" %>
        <% end %>
      <% end %>
    </div>

    <div class="item-comment-box">
      <div class="item-comment-box__form">
        <textarea placeholder="comment" class="item-comment-box__form__textarea"></textarea>
      </div>
      <div class="item-comment-box__got-comment">
        <%= render partial: 'items/item-comment' %>
        <%= render partial: 'items/item-comment' %>
      </div>
      <div class="item-comment-box__more"> - MORE COMMENTS - </div>
    </div>

    <div class="item-empty-box"></div>

  </div>
</body>

<%= render partial: 'items/footer' %>