<%= render partial: 'items/header' %>

<body>
  <main class="default-wrapper">
    <div class="default-wrapper__left-box">
      <% if user_signed_in? %>
        <div class="default-wrapper__left-box__inner user-box">
          <%= link_to mypage_path(@currentuser) do %>
            <%= image_tag @currentuser.icon.to_s, class: "user-box__icon" %>
            <div class="user-box__nickname"> <%= @user.nickname %> </div>
          <% end %>
        </div>
        <div class="default-wrapper__left-box__inner follow-box">
          フォロー　　１２ <br>
          フォロワー　１０
        </div>
        <div class="default-wrapper__left-box__inner favorite-box">
          いいね一覧
        </div>
        <div class="default-wrapper__left-box__btn logout-btn">
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "logout-btn" %>
        </div>
      <% else %>
        <div class="default-wrapper__left-box__inner">
          <%= link_to "新規登録", new_user_registration_path, class: "sign-box" %>
        </div>
        <div class="default-wrapper__left-box__inner">
          <%= link_to "ログイン", new_user_session_path, class: "sign-box" %>
        </div>
      <% end %>
    </div>

    <div class="default-wrapper__right-box">
      <h1 class="item-index-head"> –––––––––––––––––––––　 NEW POSTS 　–––––––––––––––––––– </h1>
      <div class="item-cards">
        <% @items.each do |item| %>
          <%= link_to item_path(item) do%>
            <%= render partial: 'items/item-card', locals: { item: item } %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </main>
</body>

<%= render partial: 'items/footer' %>