<%= render partial: 'items/header' %>

<body>
  <main class="item-new-wrapper">
    <%= form_for @item, method: :post, class: "item-new__form-wrapper" do |f| %>
      <div class="item-new__left">
        <div class="item-new__left__image"> 
          <div class="item-new__left__image__form-wrapper">
            <%= f.file_field :image, class: "item-new__left__image__file-field" %>
          </div>
        </div>
      </div>

      <div class="item-new__right">
        <form>
          <div class="item-new__right__tag">
            <h1>- TAGS -</h1>
            <textarea placeholder="タグを追加(未実装)" class="new-tag"></textarea>
          </div>
          <div class="item-new__right__caption">
            <h1>- CAPTION -</h1>
            <%= f.text_area :caption, class: "new-caption", placeholder: "キャプションを追加" %>
          </div>
          <div class="item-new__right__post-btn">
            <%= f.submit "POST", class: "new-post-btn"%>
          </div>
        </form>
      </div>
    <% end %>
  </main>
</body>

<%= render partial: 'items/footer' %>