<%= render partial: 'items/header' %>

<body>
  <div class="item-wrapper">
    <div class="item-image-box">
        <%= image_tag @item.image.to_s, class: "item-image-box__image" %>
    </div>

    <div class="item-user-information">
      <div class="item-user-information__upper">
        <%= link_to mypage_path(@item.user) do%>
          <%= image_tag @currentuser.icon.to_s, class: "item-user-information__upper__user-icon" %>
          <div class="item-user-information__upper__user-name">
            <%= @item.user.nickname %>
        <% end %>
          </div>
        <div class="item-user-information__upper__favorite"> ♡ 12</div>
      </div>
      <div class="item-user-information__tag-box">
        <div class="tem-user-information__tag-box__tags"> #aaa #bbb #ccc #ddd #eee #fff</div>
      </div>
    </div>

    <div class="item-caption">
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <%= link_to "- EDIT -", edit_item_path, class: "item-caption__edit-btn"%>
      <% end %>
      <%= @item.caption %>
    </div>

    <div class="item-comment-box">
      <div class="item-comment-box__form">
        <textarea placeholder="comment" class="item-comment-box__form__textarea"></textarea>
      </div>
      <div class="item-comment-box__got-comment">
        <%= render partial: 'items/item-comment' %>
        <%= render partial: 'items/item-comment' %>
      </div>
      <div class="item-comment-box__more"> - MORE COMMENTS - </div>
    </div>

    <% if user_signed_in? && current_user.id == @item.user_id %>
      <%= link_to item_path, method: :delete, class: "item-delete-btn-link", data: { confirm: '削除しますか？' } do %>
        <div class="item-delete-btn"> ＊＊＊＊＊＊＊＊ DELETE ITEM ＊＊＊＊＊＊＊＊ </div>
      <% end %>
    <% end %>
    <div class="item-empty-box"></div>

  </div>
</body>

<%= render partial: 'items/footer' %>